In [52]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import matplotlib.pyplot as plt


'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''


# https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls
df = pd.read_excel('titanic.xls')

original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

labels = clf.labels_
cluster_centers = clf.cluster_centers_

original_df['cluster_group']=np.nan

for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]
    
n_clusters_ = len(np.unique(labels))
survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / float(len(temp_df))
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)
#print(original_df.head())


print(original_df[ (original_df['cluster_group']==3) ])
#print(original_df[ (original_df['pclass']==1) ].describe())
#temp = original_df[(original_df['pclass']==1)] 
#print temp.head()                   
#print np.mean(temp[(temp['sex']=='male')]['survived'])

{0: 0.3717948717948718, 1: 0.6595744680851063, 2: 1.0, 3: 0.1}
      pclass  survived                                               name  \
629        3         0                        Andersson, Mr. Anders Johan
632        3         0  Andersson, Mrs. Anders Johan (Alfrida Konstant...
644        3         0         Asplund, Mr. Carl Oscar Vilhelm Gustafsson
646        3         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
831        3         0                     Goodwin, Mr. Charles Frederick
832        3         0            Goodwin, Mrs. Frederick (Augusta Tyler)
1106       3         0             Panula, Mrs. Juha (Maria Emilia Ojala)
1146       3         0               Rice, Mrs. William (Margaret Norton)
1179       3         0                              Sage, Mr. John George
1180       3         0                     Sage, Mrs. John (Annie Bullen)

         sex   age  sibsp  parch    ticket     fare cabin embarked boat  \
629     male  39.0      1      5    347082  31.2750   NaN        S  NaN
632   female  39.0      1      5    347082  31.2750   NaN        S  NaN
644     male  40.0      1      5    347077  31.3875   NaN        S  NaN
646   female  38.0      1      5    347077  31.3875   NaN        S   15
831     male  40.0      1      6   CA 2144  46.9000   NaN        S  NaN
832   female  43.0      1      6   CA 2144  46.9000   NaN        S  NaN
1106  female  41.0      0      5   3101295  39.6875   NaN        S  NaN
1146  female  39.0      0      5    382652  29.1250   NaN        Q  NaN
1179    male   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN
1180  female   NaN      1      9  CA. 2343  69.5500   NaN        S  NaN

       body                             home.dest  cluster_group
629     NaN                   Sweden Winnipeg, MN            3.0
632     NaN                   Sweden Winnipeg, MN            3.0
644   142.0                 Sweden  Worcester, MA            3.0
646     NaN                 Sweden  Worcester, MA            3.0
831     NaN  Wiltshire, England Niagara Falls, NY            3.0
832     NaN  Wiltshire, England Niagara Falls, NY            3.0
1106    NaN                                   NaN            3.0
1146  327.0                                   NaN            3.0
1179    NaN                                   NaN            3.0
1180    NaN                                   NaN            3.0